body{
    margin: 0;
    background: skyblue; 

}
*{
    box-sizing: border-box;
}
/* exp */
/* @keyframes rotate{
    0%{
        transform: rotate(0deg);
            }
            100%{
                transform: rotate(360deg);
            }
} */
.circle{
    /* animation: rotate 2s infinite linear ; */
    position: relative;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
  border: 2px double red;

}
.circle ::after, 
.circle ::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(dotted, transparent 60%, yellow 60%);
    clip-path: polygon(50% 0%, 52% 5%, 58% 10%, 60% 12%, 66% 18%, 70% 20%, 74% 26%, 80% 30%, 85% 35%, 90% 40%, 94% 45%, 100% 50%, 94% 55%, 90% 60%, 85% 65%, 80% 70%, 74% 74%, 70% 80%, 66% 82%, 60% 88%, 58% 90%, 52% 95%, 50% 100%, 48% 95%, 42% 90%, 40% 88%, 34% 82%, 30% 80%, 26% 74%, 20% 70%, 15% 65%, 10% 60%, 6% 55%, 0% 50%, 6% 45%, 10% 40%, 15% 35%, 20% 30%, 26% 26%, 30% 20%, 34% 18%, 40% 12%, 42% 10%, 48% 5%);
    transform: rotate(0deg);
    transform-origin: center;

}
.circle ::after{
    transform: rotate(360deg);
}
.dotted{
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* animation: rotate 2s infinite  reverse; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  border: 2px dotted blue;
}
.container{
    width: 80%;
    margin: auto;
    
}
nav{
    background: skyblue;
    box-shadow:0 0 10px;
}
nav div{
    display: flex;
    justify-content: space-between;
    
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.name ::after{

}
.right ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    gap: .5rem;
    

}
a{
    text-decoration: none;
    cursor: pointer;
    /* color: red; */
    
}

/* hero  */

.hero{
   
    background: red;
    padding: 40px 80px;
    height: 50vh;
    margin-top: 2rem;
    box-shadow:0 0 10px;
 border: 1px solid #ccc;
 box-shadow: gray;

}
button{
    background: black;
    color: white;
    border-radius: 10px;
    width: 18vw;
    height: 8vh;
}
.lt{
    width: 50%;

}
.rt{
    width: 50%;
    position: absolute;
    left: 50vw;
    top: 30px;
}
img{
   height: 65vh;
   width: 60%;
}

/* certificates */
.line{
    font-size: 2rem;
}
.certificates > div{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    border-radius: 30px;
    border: 1px solid  ;
}
.l{
    background: red;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.it,.project, .years{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.r{
display: flex;
flex-direction: column;
gap: 1rem;
}
.r :last-child{
    color: red;
}
/* Skills */

.skills div{
   display: flex; 
   justify-content: space-between;
 
}
.top{
    font-size: 2rem;
}
.bottom{
    color: black;
}
.skills h2{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    text-decoration: underline red;
    
}
.html{
    color: orangered;
    display: flex;
    flex-direction: column;
}
.css{
    color: blue;
    display: flex;
    flex-direction: column;
}
.js{
    color: yellow;
    display: flex;
    flex-direction: column;
}
.github{
    display: flex;
    flex-direction: column;
}
.figma{
    color: brown;
    display: flex;
    flex-direction: column;
}